.Rproj.user
.Rhistory
.RData
.Ruserdata
Introd-pyspark.pdf

python-env/
venv/

/.quarto/

derby.log
Chapters/derby.log

spark-warehouse
Chapters/spark-warehouse
metastore_db
Chapters/metastore_db

Chapters/*.html
Chapters/*/*

Scripts/__pycache__/

index_files/

Introduction-to-`pyspark`.tex
index.tex
tex_adjusted.tex
tex_adjusted.pdf
docs/*.pdf
*.docx
*.epub
*.aux
*.log
*.toc
